@import '../../../theme/variables';
@import '../../../theme/helpers/spacing';

.modal-content {
  padding: spacing(1);
}

.modal-form {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 24px;
  background: $white;
  margin-bottom: spacing(2);

  .form-input {
    flex-grow: 1;
    margin-right: 24px;
    box-sizing: border-box;
    background:$white;
    border: none;
    color: $gray-800;
    outline: none;
  }
}
