
form {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 24px;
  background: white;

  .form-input {
    flex-grow: 1;
    margin-right: 24px;
    box-sizing: border-box;
    background: white;
    border: none;
    color: gray;
    outline: none;
  }
}