@import '../../../../theme/variables';

.task {
  display: flex;
  align-items: center;
  padding: 8px 24px;
  font-size: 20px;
  background: $yellow-lighter;

  
  &__checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  &__name {
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}

