.todo-form {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 8px 24px;
  background: white;
  
  &__input {
    flex-grow: 1;
    margin-right: 24px;
    box-sizing: border-box;
    background: white;
    border: none;
    color: gray;
    outline: none;
  }

  &__input:hover,
  &__input:focus {
    border-bottom-color: #86a8e7;
  }

  &__checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}