.todo-list {
	list-style-type: none;
	width: 100%;
  padding: 0;
  
  &__item {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 8px 24px;
    font-size: 20px;
    background: #f7f7f7;
  }

  &__text {
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.todo__list {
	margin: 0;
}