$baseline: 8px;

@function spacing($sizes...) {
    $result: null;
    
    @if (length($sizes) == 0) {
        @return $baseline;
    }
    
    @each $size in $sizes {
        $result: $result $size * $baseline;
    };
    
    @return $result;
}

